ul.menu {
	margin: 0;
	padding: 0;
	li {
		display: inline;
		margin-right: 10px;
		a {
			color: #333;
			padding: 10px;
			background: #333;
			color: white;
		}
	}
}

#menu-menu-1 a{
	padding: 0;
	margin-left: 40px;
}

ul#menu-menu-1.menu {
	padding: 25px;
}